:root {
    /* color */
    --dark-color: #140a00;
    --logo-color: #ff0000;
    --gray-color: #8b8a8b;
    --white-color: #ffffff;
    --blue-color: #483dee;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

    /* size */
    /* rem은 root의 font-size를 기준으로 px의 사이즈를 정하는 상대적인 사이즈 */
    --avatar-size: 32px; 
    --padding-top: 8px;
    --padding-side: 12px;
}

/* 공통 CSS */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-top) var(--padding-side);
    background-color: var(--gray-color);    
    position: relative;
}

.header_logo {    
    font-size: var(--font-large);
    padding: var(--padding-top) var(--padding-side);
}

.header_menu {
    display: flex;        
}

.header_menu li {
    padding: var(--padding-top) var(--padding-side);    
}

.header_menu a {
    color: rgba(0, 0, 0, 0.5);
}

.menu_bar {
    display: none;
    position: fixed;
    top: 18px;
    right: 30px;
    font-size: var(--font-large);
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header_menu {
        opacity: 0;
        position: fixed;
        top: -200px;
        right: 15px;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        transition: all .5s ease-in-out;
    }
    
    .menu_bar {
        display: block;
    }

    .menu_bar.active {
        color: var(--white-color);
    }

    .header_menu.active {
        opacity: 1;
        transform: translateY(250px);
    }
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
    background-color: #78909c;        
}

.banner .typing-text {
    display: none;
}

.banner .typing {
    display: inline-block;
    animation-name: typing;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font-size: 5vw;
}

@keyframes typing {
    0% {border-right: 1px solid #fff;}
    50% {border-right: 1px solid #000;}
    100% {border-right: 1px solid #fff;}
}


/* about me*/
.aboutMe {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #a7c0cd;
}

.aboutMe .content {
    display: flex;
    height: 55vh;
}

.aboutMe .content .my_image {
    width: 30%;
    background-image: url(./image/user_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}

.aboutMe .content .info {
    width: 70%;
    margin: 10px;
}

.aboutMe .content .info div {
    padding-bottom: calc(var(--padding-top) * 3);
}

.aboutMe h1 {
    padding: 10vh;
    text-align: center;
}


/* skill */
.skill { 
    height: 100vh;
    background-color: #78909c;
}

/* project */
.project {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #a7c0cd;
}

.project h1 {
    text-align: center;
    padding-top: 10vh;
}

.project .slideWrab {
    width: 60vw;
    height: 40vh;
    margin: 20vh auto;
    /* text-align: center; */
    overflow: hidden;
}

.radio_label {
    width: 100px;
    position: absolute;
    bottom: 10%;
    z-index: 10;
    left: calc((100% - 100px) / 2);
}

[type="radio"] {
    display: none;
}

.radioImage {    
    content: url('./image/hand-empty.svg');
    width: 30px;
    height: 30px;
}

.radioImage.active {
    animation-name: ease-in-out;
    animation-duration: 1s;
}

@keyframes ease-in-out {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

.project .slideList {
    position: relative;
    margin: 0 auto;
    font-size: 0;
    white-space: nowrap;
}

.project .slideList li{
    display:inline-block;
    /* vertical-align: middle; */
    width: 100%;
    transition: all .5s;
}

.project .slideList img {
    width: 100%;
}

[id="slide1"]:checked ~ .slideList li { transform: translateX(0%)}
[id="slide2"]:checked ~ .slideList li { transform: translateX(-100%)}
[id="slide3"]:checked ~ .slideList li { transform: translateX(-200%)}


/* foooter */
.footer { 
    height: 30vh;
    background-color: #4b636e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer .contect_list {
     padding: 12px;
 }

 .footer li {
    text-align: center;
    margin: calc(var(--padding-top) * 2);
 }

 .footer i {
    color: var(--white-color);
    font-size: calc(var(--font-large) * 2); 
 }

 .footer .contect_icons {
     display: flex;
 }

 .footer p {
     margin: var(--padding-top);
     color: var(--white-color);
 }

 .footer span {
     font-size: 5vw;
 }

