:root {
    /* color */
    --dark-color: #140a00;
    --logo-color: #ff0000;
    --gray-color: #8b8a8b;
    --white-color: #ffffff;
    --blue-color: #483dee;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

    /* size */
    /* rem은 root의 font-size를 기준으로 px의 사이즈를 정하는 상대적인 사이즈 */
    --avatar-size: 32px; 
    --padding-top: 8px;
    --padding-side: 12px;
}


* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.topBtn {
    /* display: none; */
    opacity: 0;
    display: flex;
    width: 50px;
    height: 55px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 8px 12px;
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.topBtn div {
    padding-top: 5px;
    flex-grow: 1;
}

.topBtn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.topBtn span {
    font-size: 8px;
}

/* header */
.header {
    /* display: none; */
    position: sticky;
    z-index: 10;
    top: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    padding: calc(var(--padding-top) * 2) calc(var(--padding-side) * 2.5);
    font-size: var(--font-large)
}

.menu {
    display: flex;
    animation: all .5s;
}

.menu li {
    list-style: none;
}

.menu li a:hover {
    border-radius: 4px;
    background-color: yellow;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.header .menu_bars {
    display: none;
    position: fixed;
    right: 30px;
}

@media  screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header .menu_bars {
        display: block;
    }

    .header .menu {
        opacity:0;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        width: 100%;
        position: fixed;
        right: 0px;
        top: -200px;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.6s ease-in-out;
    }

    .header .menu li {
        padding: 8px;
        
    }

    .menu li a {
        color: rgba(0, 0, 0, 0.3);
        text-decoration: none;
        padding: 8px 12px;
    }

    .header .menu.active {
        opacity: 1;
        transform: translateY(250px);
    }

    .header .menu_bars.active {
        color: white;
    }
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 100%;
    height: 100vh;
}

.banner .typing-text {
    display: none;
}

.banner .typing {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    /* transform: translateY(-50px);     */
    /* margin:0 auto; */
    /* height: calc(var(--font-large) * 2.5); */
    animation-name: cursor; 
    animation-duration: 0.7s; 
    animation-iteration-count: infinite;    
}

@keyframes cursor {
    0% { border-right: 3px solid #fff;}
    50% { border-right: 3px solid #000;}
    100% { border-right: 3px solid #fff;}
}

/* introduce */
.introduce {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.introduce .title {
    text-align: center;
    padding: 128px;
}

.introduce .introduce_info {
    display: flex;
}

.introduce .introduce__image img {
    border-radius: 50%;
    width: 30vw;
    height: 30vh;
}


.introduce li {
    list-style: none;
    padding: var(--padding-top) var(--padding-side);  
}

/* skill */
.skill {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: yellow;
}

.skill .title {
    text-align: center;
    padding: 128px;
}

.skill h1 {
    text-align: center;
    padding: 8px;
}

.skill div i {
    width: 35px;
    height: 35px;
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 32px;
}

/* .skill .backEnd{
    background-color: blue;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.skill .frontEnd{
    background-color: red;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.skill .framework{
    background-color: gray;
    border-radius: 50%;
    width: 250px;
    height: 250px;
} */



/* project */
.project {
    width: 100vw;
    height: 100vh;
    background-color: #ff0000;
}

.project .title {
    text-align: center;
    padding: 128px;
}

.section .slidewrap {
    /* width: 100vw;
    height: 100vh; */
    margin:0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.section .slidelist {
    /* div의 크기를 넘어가도록  */
    white-space: nowrap;
    font-size: 0;
}

.section .slidewrap > input {
    position: relative;
    top : 5%;
    z-index: 10;
}

.section .slidelist > li {
    display: inline-block;
    /* 세로축 중앙 */
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.section .slidelist > li > a {
    background-color: gray;
    display: block;
    position: relative;
}

.section .slidelist > li > a img {
    width: 50%;
    height: 50%;
}


.slide_radio {
    position: absolute;
    z-index: 20;
    left: calc((100vw - 110px) / 2);
    bottom: 20px;
    height: 50px;    
    width: 110px;
}

[type=radio] {
    display: none;
}

[type=radio] + label {
    cursor: pointer;    
    height: 100%;
}

.radioImage {
    content: url(./image/hand-empty.svg);
    width: 30px;
    height: 30px;
    /* transition: all .5s; */    
}

.radioImage.active {    
    content: url(./image/hand-solid.svg);
    /* width: 30px;
    height: 30px; */
    animation-name: ease-in-out;
    animation-duration: .5s;
}

@keyframes ease-in-out {
    0% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

/* .section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
} */

/* .section .slidelist .left {
    z-index: 10;
    left: 30px;
    background:url("./image/left.svg") center center / 20% no-repeat;
}

.section .slidelist .rigth {
    right: 30px;
    background:url("./image/right.svg") center center / 20% no-repeat;
} */

.section .slidewrap [id="slide01"]:checked ~ .slidelist > li {transform:translateX(0%)}
.section .slidewrap [id="slide02"]:checked ~ .slidelist > li {transform:translateX(-100%)}
.section .slidewrap [id="slide03"]:checked ~ .slidelist > li {transform:translateX(-200%)}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-info1,
.modal-info2,
.modal-info3 {
    display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* footer */
.footer {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    text-align: center;
    background-color: gray;
    width: 100vw;
    height: 30vh;
}

.footer .title {
    font-size: calc(var(--font-large) * 2);
    padding: 32px;
}

.footer .contectList li {
    padding: 8px;
}

.footer .contectList li a {
    color: var(--white-color);
    text-decoration: none;
}

.footer .contectList li i {
    padding-right: 8px;
}
