.wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* height: 100%; */
}

.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 4px;
}

.wrapper > div:hover {
    color: white;
    background-color: #0093c4;
}

@media screen and (max-width: 768px) {
    .wrapper > div {
        width: 200px;
        height: 75px;
    }
}

@media screen and (max-width: 520px) {
    .wrapper > div {
        width: 100px;
        height: 50px;
    }
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content .search {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .searchText{
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    padding-left: 20px;
}

.content i {
    position: absolute;
    left: 4px;
    font-size: 8px;
}

.content .list {
    flex-basis: 40%;
    border: 1px solid #000;
    border-radius: 4px; 
    padding: 4px;
    background-color: #b6ffff;
}

.content .list > div {
    border-bottom: 1px solid #000;    
    margin-bottom: 4px;
    padding: 8px;
    font-size: 8px;
}


.content .list > div:hover {
    color: white;
    background-color: #0093c4;
}

/* modal */
.modal {    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;    
    opacity: 0;
    transition: all .5s;
}

.modal.active {
    opacity: 1;
    z-index: 30;
}

.modal_content {    
    display: flex;
    padding: 5vw;
    width: 85%; 
    height: 90%;
    border-radius: 1vw;
    overflow-y: auto;    
    background-color: #4b636e;
    color: #a7c0cd;
    border: 3px solid #a7c0cd;
}

.modal i {    
    color: rgba(0, 0, 0, 0.6);    
    transition: all .5s;
    margin: 0 8px;
}

.modal i:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.5);
}

/* pagination */
.pagination_box {
    margin: 4px;
    display: flex;
    justify-content: center;    
}

.page-link {
    font-size: 8px;
    padding: 4px;
}

/* Google Map */
.map_box {
    display: flex;
    /* flex-direction: column; */
}

.mapBtn {
    position: absolute; 
    top: 70px;
}

#map {
    height: 70%;
    width:80%;    
}